/* Footer Style */

.footer {
    bottom: 0;
    background-color: var(--primary-color);
}

.footer-header {
    color: var(--white-color);
    padding: 1rem;
}

.fab {
    color: var(--white-color);
    padding: 1rem;
}

.social-links {
    justify-content: center;
}

li {
    list-style-type: none;
}
